/**
 * index.html
 */
		.login{
			background-image: url(../images/login.jpg);
		}

		.box{
			margin-top: 10%;
			/*border-radius: 4%;*/
			box-sizing: border-box;
			height:15em;
			/*border: 1px solid grey;*/
			/*background: white;*/
		}
		
		.login_title{
			/*margin-bottom: 3em;*/
			/*border-radius: 3%;*/
			background: #259ef7;
			line-height:3em;
			text-align-last: center;
			font-size: 20px;
			color: white;
		}

		.login_content{
			box-sizing: border-box;
			/*border:1px solid grey;*/
			background: white;
			height: 12em;
		}

		input[type="text"]{
			margin: .5em 5% .5em 5%;
			border-radius: 3%; 
			width: 90%;
			height: 3em;
			border: solid 1px #d4d4d4;
			font-size: 16px;
			color: #cbcbcb;
			transition: 1s;

		}


		input[type="submit"]{
			border-radius: 5%/1%;
			margin-top: 2em;
			width: 100%;
			background:#259ef7; 
			line-height:2.5em;
			text-align-last: center;
			font-size: 20px;
			color: white;
		}

		/**
		 * main.jsp
		 */
		.main-body{
			background: #cacaca;
		}
		.header{
			line-height: 3em;
			background: #259ef7;
		}
		
		.bar-control span{
			cursor: pointer;
			padding-left:1em; 
			font-size: 20px;
			color: white;
			font-weight: bold;
		}

		.user{position: relative;}
		.user:hover .user-bar{
			display: block;
		}
		.user-bar{
			display:none;
			position: absolute;
			width: 70%;
			background: white;
			transition: .5s;
		}

		.user-bar li{
			text-align-last: center;
			list-style: none;
			width: 100%;
		}
		.user-bar li:hover{
			background: #259ef7;
		}

		.user-bar li a{
			font-size: 16px;
			color: grey;
		}

		.main-bar{
			/*border: 1px solid grey;*/
			box-shadow: 1px 3px 1px 1px white; 
			width: 10%;
			background: white;
			text-align-last: center;
		}


		.main-content{
			width: 90%;
			margin-left: 10em;
			transition: .5s;
		}
		.content-title{
			margin: .5em 0 .5em 0;
			font-size: 24px;
			color: black;
			text-align-last: center;

		}
		table{
			width: 70%;
			margin: 0 auto;
			border: 1px solid grey;
		}
		.sidebar{
			margin-top:2em;
			transition: .5s;
		}
		.sidebar li{
			min-height: 3em;
			line-height: 3em;
			display: block;
			width: 100%;
			border-bottom: 1px solid #cacaca;
			transition: .5s ease;
		}
		.sidebar li a{
			font-size: 16px;
			color: black;
		}
		.sidebar li:hover{
			background:#259ef7; 
		}

		.header-img{
			vertical-align: middle;
		}
		.header-text{
			cursor: pointer;
			margin: 0 .5em 0 .5em;
			font-size: 18px;
			color: white;
		}
		.on{
			background: #259ef7 !important;;
		}

		/**
		 * user.jsp
		 */
		
		.user-content{
			margin:2em auto; 
			width: 70%;
			background: white;
		}
		.user-header{
			margin: 1em 0;
		}
		.user-header img{
			margin:0 auto;
			display: block;
		}

		.upload{
			margin: 0 auto;
			width: 90%;
		}